<%- include header.ejs %>
<style>
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
</style>
<%- include nav.ejs %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar"><!-- class="active" -->
            <li><button type="button" id="addStore" class="btn btn-default btn-success col-sm-offset-2">新增店家</button></li>
            <% if (store != undefined) { %>
            <% var checkArea = '', areaName={ A: '西岸區', B: '安一區', C: '孝三區', D: '高級超遠區', E: '不分區'}; %>
            <% for ( k in store) { %>
              <% if ( checkArea != store[k].area) { %>
                <% checkArea =  store[k].area %>
                <h4>&nbsp;&nbsp;<%=areaName[store[k].area] %></h4>
                <% } %>
              <li><a href="/editMenu?q=<%=store[k]._id %>"><%=store[k].storeName %></a></li>
            <% } }%>
          </ul>
        </div>
        <% if (menu != null) { %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">編輯-<%=menu[0].storeName%></h1>
          <p>營業時間： <%=menu[0].officeTime.time %></p>
          <p>公休： <%=menu[0].officeTime.officialHoliday %></p>
          <p>電話： <%=menu[0].tel %></p>
          <p>地址： <%=menu[0].address %></p>
          <p>備註： <%=menu[0].ps %></p>
          <hr />
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>品名</th>
                  <th>價錢 (NT)</th>
                  <th>自備面額</th>
                  <th>附註</th>
                </tr>
              </thead>
              <tbody>
                <% for (i=0;i< menu[0].menu.length;i++) { %>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td><%=menu[0].menu[i].name %></td>
                  <td><%=menu[0].menu[i].price %></td>
                  <td><input type="number" /></td>
                  <td><input type="text" /></td>
                </tr>
                <% } }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
    $(function () {
      $('#addStore').click(function () {
        location.replace('/addStore')
      })
    })
    </script>


<%- include footer.ejs %>
